*{
    margin: 0;
    box-sizing: border-box;
}

.contenedor_buscador{
    background-color: #eee;
    height: 180px;
    padding:20px;
    margin: 30px;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo_buscador{
    font-size: 25px;
    margin: 0 40px;
}

.contenedor_inputs_buscador{
    display: flex;
    justify-content: space-around;
}


.contenedor_ciudades, .contenedor_fechas{
    display: flex;
    
}

.contenedor_ciudades{
}

.contenedor_fechas{
    width: 360px;
}

.campo_ciudad, .campo_fecha{
    margin: 10px;
}

.origen{
    margin-right: 2px;
}

.destino{
    margin-left: 2px;   
}

.icon_avion{
    margin-top: 25px;
    transform: rotate(90deg);
}

.botonBuscar{
    background-color: rgb(251, 139, 41);
    color: #fff;
    height: 60px;
    width: 130px;
    border-radius: 50px;
    margin: 5px 7px;
    border: none;
}

.contenedorSelect{
    margin: 10px;
}

.contenedor_input_ciudades{
    display: flex;
}