*{
    margin: 0;
    box-sizing: border-box;
}

.contenedor_buscador{
    background-color: #eee;
    height: 190px;
    padding: 20px;
    padding-bottom: 25px;
    margin: 30px;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px double rgb(251, 139, 41);
}


.contenedorTituloYRadio{
    display: flex;
}

.titulo_buscador{
    font-size: 25px;
    margin: 0 40px;
}

.contenedor_inputs_buscador{
    display: flex;
    justify-content: space-around;
}


.contenedor_ciudades, .contenedor_fechas{
    display: flex; 
}

.contenedor_ciudades{
}

.contenedor_fechas{
    width: 360px;
}

.campo_ciudad, .campo_fecha{
    margin: 10px;
}

.origen{
    margin-right: 2px;
}

.destino{
    margin-left: 2px;   
}

.icon_avion{
    margin-top: 25px;
    transform: rotate(90deg);
}

.botonBuscar{
    height: 60px;
    width: 130px;
    border-radius: 50px;
    margin: 5px 7px;
    border: none;
    font-weight: bold;
    color:  rgb(251, 139, 41);
    background-color: transparent;
    border: 3px solid rgb(251, 139, 41);
}

.botonBuscar:hover{
    background-color: rgb(251, 139, 41);
    color: #fff;
    border: none;
}



.contenedorSelect{
    margin: 10px;
}

.contenedor_input_ciudades{
    display: flex;
}

.contenedor_PersonasYClase{
    display: flex;
}


@media screen and (max-width: 1000px) {
    .contenedor_buscador{
        height: auto;
        margin: 15px;
    }
    .contenedorTituloYRadio{
        display: block;
    }
    .titulo_buscador, .radioIdaYVuelta{
        text-align: center;
        margin: 20px;
    }
    .contenedor_inputs_buscador{
        display: block;
        width: 100%;
    }
    .contenedor_input_ciudades, .contenedor_fechas, .campo_fecha{
        display: flex;
        justify-content: center; 
    }
    .contenedor_PersonasYClase{
        display: flex;
        justify-content: center;
    }
    .botonBuscar{
      width: 50%;
      margin: 20px 25%;
    }
}

@media screen and (max-width: 400px) {
    .contenedor_buscador{
        height: auto;
        margin: 15px;
    }
    .contenedor_input_ciudades, .contenedor_fechas, .campo_fecha{
        display: block;
        width: 80%;
    }
    .contenedor_PersonasYClase{
        display: block;
    }
    .icon_avion{
        margin: 0px 20%;
        transform: rotate(180deg);
        text-align: center;
    }

}