.boton_personas{
    border-radius: 5px;
    border: 1px solid #bbb;
    margin: 10px;
    margin-bottom: 0px;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
}

.boton_personas:hover{
    cursor: pointer;
    border: 1px solid #000;
}

.label_boton{
    font-size: 15px;
    margin-bottom: 0px;
}

.value_boton{
    margin-bottom: 0;
}

.value_boton, .info_label_item {
    font-size: 11px;
}

.modal_personas{
    background-color: #fff;
    padding: 10px 15px;
    position: absolute;
    margin: 5px 10px;
    border: 2px solid rgb(251, 139, 41);
    border-radius: 13px;
}

.selectPersona{
    padding: 5px;
    font-size: 12px;
    margin: 10px;
    border: none;
    background-color: #eee;
    border-bottom: 1px solid rgb(251, 139, 41);
}

.optionSelect{
    padding: 5px;
    margin: 5px;
}

.optionSelect:hover{
    padding: 5px;
    margin: 5px;
    background-color: rgb(251, 139, 41);
}

.warningPersona, .warningPersonaPrincipal{
    font-size: 12px;
    text-align: center;
    color: red;
}

.warningPersona{
    margin: 4px;
}

.warningPersonaPrincipal{
    margin: 0px;
}

.botonListoModalPersona{
    margin: 5px;
    width: 50%;
    background-color: #fff;
    border: 3px solid  rgb(251, 139, 41);
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .boton_personas{
        border-radius: 5px;
        border: 1px solid #bbb;
        margin: 10px;
        margin-bottom: 0px;
        padding: 6px 12px;
        display: flex;
        justify-content: center;
        width: 200px;
        
    }
    .contenedorBotonPersona{
        display: inline;
    }

}