.boton_personas{
    width: 135px;
    border-radius: 7px;
    border: 1px solid #bbb;
    margin: 10px;
    padding: 6px 12px;
    display: flex;
}

.boton_personas:hover{
    cursor: pointer;
    border: 1px solid #000;
}

.label_boton{
    font-size: 15px;
    margin-bottom: 0px;
}

.value_boton{
    margin-bottom: 0;
}

.value_boton, .info_label_item {
    font-size: 13px;
}

.modal_personas{
    background-color: #fff;
    padding: 10px;
}

.selectPersona{
    padding: 5px;
    font-size: 12px;
    margin: 10px;
    border: none;
    background-color: #eee;
    border-bottom: 1px solid blue;
}

.optionSelect{
    padding: 5px;
    margin: 5px;

}

.warningPersona{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px;
    color: red;
}

.botonListo{
    margin: 8px;
    width: 50%;
}
